// Colors
$grey: #777;
$blueish: #58e1c1;
$blue: #51ddfc;
$pink: #deb2ee;
$green: #63cc82;
$lightGrey: #ccc;

//Functional color variables
$base-color: $grey;
$headlineLink-color: $blueish;
$linkThemeDefault: $blue;
$errorThemecol9: $pink;
$successThemecol10: $green;
$borderColor: $lightGrey;

//Font stack
$stack-Lato: "Lato", sans-serif;
$stack-weight: 300;

// @Mediaquerys
$brk-wide: 768px;
